* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-1 {
    flex-grow: 1;
}

.container {
    background-color: #3f51b5;
    margin: 10px;
}

/*
-- Nav
*/
nav {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav ul {
    list-style-type: none;
    padding: 20px;
}

nav li {
    display: inline-flex;
    width: 25%;
    margin-right: -4px;
}

nav a {
    height: 80px;
    width: 100%;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

nav a:hover i {
    transition: all 0.4s;
    color: #1a237e;
}

nav a i {
    position: absolute;
    z-index: 3;
}

nav a i:after {
    content: "";
    background-color: #fff;
    position: absolute;
    transform: rotate(15deg);
    right: 0;
    bottom: 0;
    left: -5px;
    height: 1px;
    z-index: 4;
}

nav a span {
    color: #1a237e;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
    transform: translateY(20px);
    position: relative;
}

nav a span:first-letter {
    text-transform: capitalize;
}

nav a span:after {
    content: "";
    background-color: #1a237e;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: flex;
    left: calc(50% - 2.5px);
    top: 30px;
    transform: scale(0);
    opacity: 0;
}

nav a:after {
    content: "";
    background-color: #fff;
    position: absolute;
    transform: rotate(15deg);
    right: -2px;
    bottom: -14px;
    left: -8px;
    height: 50px;
    z-index: 2;
}

nav a.isActive i {
    transform: translateY(-40px);
    transition: all 0.8s;
}

nav a.isActive i:after {
    transition: all 0.6s;
    height: 32px;
}

nav a.isActive span {
    transform: translateY(0);
    transition: all 0.4s ease-in;
}

nav a.isActive span:after {
    transition: all 0.8s ease;
    transform: scale(1);
    opacity: 1;
}

nav a.isActive:after {
    height: 10px;
    transition: height 1s;
}

nav a.notActive i {
    transform: translateY(0);
    transition: all 0.8s;
}

nav a.notActive i:after {
    transition: all 0.6s;
    height: 1px;
}

nav a.notActive span {
    transform: translateY(20px);
    transition: all 0.4s ease-in;
}

nav a.notActive span:after {
    transition: all 0.8s ease;
    transform: scale(0);
    opacity: 1;
}

nav a.notActive:after {
    height: 50px;
    transition: height 1s;
}

nav .material-icons-outlined {
    color: #7986cb;
    font-size: 32px;
}